#about {
    .headshot {
        text-align: center;
        img {
            background-color: $theme-primary;
            max-width: 400px;
        }
    }

    .row {
        margin-top: 20px;
    }
}