// Variables

// Gray and Brand Colors for use across theme
   
$theme-grain:   #D7CEC7;
$theme-grey:    #565656;
$theme-red:     #76323F;
$theme-tan:     #C09F80;

$theme-primary: $theme-grey;
$theme-success: $theme-red;
$theme-minor: $theme-grain;

$gray-base:        #000;
$gray-darker:      lighten($gray-base, 13.5%); // #222
$gray-dark:        lighten($gray-base, 20%);   // #333
$gray:             lighten($gray-base, 33.5%); // #555
$gray-light:       lighten($gray-base, 46.7%); // #777
$gray-lighter:     lighten($gray-base, 93.5%); // #eee